* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
.container {
  background-image: url(public/main_poster.png);
  width: 100%;
  height: 100%;
  background-size: 100%;
  z-index: -1;
  padding: 10px 150px;
  background-repeat: no-repeat;
}
.BG {
  background-color: #1e2538;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 100px;
}
.genres {
  display: flex;
  align-items: center;
  gap: 30px;
}
.hr {
  width: 50px;
  height: 3px;
  background-color: gray;
  border-radius: 10px;
}
.films {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 30px;
  color: white;
  /* row-gap: 30px; */
}
.item {
  margin-bottom: 30px;
}
.films img {
  max-width: 250px;
  width: 100%;
  height: 350px;
  margin-bottom: 30px;
}
.new {
  margin: 0 auto;
  max-width: 160px;
  border-radius: 10px;
  padding: 20px;
  border: 2px solid white;
  color: white;
  text-align: center;
  margin-top: 30px;
}
.trailers {
  margin-top: 80px;
}
.trailers_top {
  text-align: center;
  display: flex;
  justify-content: space-between;
  color: white;
}
.trailers_top button {
  background-color: transparent;
  color: white;
  border: none;
  text-align: center;
}
.trailers_top button img {
  width: 20px;
  margin-left: 5px;
}
.main_trailer {
  margin-top: 40px;
  border: none;
  border-radius: 10px;
}
.trailer_info div {
  display: flex;
  flex-wrap: nowrap;
}
.necessary_trailers iframe {
  margin: 40px 0 4px 7px;
  border: none;
  border-radius: 10px;
}
.necessary_trailers {
  display: flex;
  font-size: 10px;
  color: white;
}
.titles {
  color: white;
  display: flex;
}
.films {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(1, 1fr); */
  column-gap: 30px;
  color: white;
}
.trailer_info {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.rate {
  height: 70px;
}
.share {
  height: 20px;
}
.left {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-size: 140%;
  color: white;
  align-items: center;
}
.tarantino {
  background-image: url(public/КвентинТарантино.png);
}
.jason {
  background-image: url(public/ДжейсонСтейтем.png);
}
.actor {
  background-repeat: no-repeat;
  width: 400px;
  height: 444px;
}
.persons {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}
.person {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  align-items: center;
}
.line {
  width: 380px;
  background-color: #1E2538;
  height: 2px;
  border-radius: 1px;
  margin: 0 auto;
}
.actors {
  padding: 20px;
  height: 444px;
  background-color: #191f30;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.person .name {
  font-weight: bold;
  color: white;
  padding:3px;
}
.person .en {
  color: #3B486B;
  padding:3px;
}
.person .age {
  color: #F2F60F;
  padding:3px;
}
.person .place {
  color: #F2F60F;
  font-weight: bold;
  padding:3px;
}