* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
.container {
  background-image: url(public/main_poster.png);
  width: 100%;
  height: 100%;
  background-size: 100%;
  z-index: -1;
  padding: 10px 150px;
  background-repeat: no-repeat;
}
.BG {
  background-color: #1e2538;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 100px;
}
.genres {
  display: flex;
  align-items: center;
  gap: 30px;
}
.hr {
  width: 50px;
  height: 3px;
  background-color: gray;
  border-radius: 10px;
}
.films {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  color: white;
  /* row-gap: 30px; */
}
.item {
  margin-bottom: 30px;
  position: relative;
}
.films img {
  border-radius: 10px;
  max-width: 100%;
  width: 100%;
  height: 90%;
  margin-bottom: 30px;
}
.new {
  margin: 0 auto;
  max-width: 160px;
  border-radius: 10px;
  padding: 20px;
  border: 2px solid white;
  color: white;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
}
.trailers {
  margin-top: 80px;
}
.trailers_top {
  text-align: center;
  display: flex;
  justify-content: space-between;
  color: white;
}
.trailers_top button {
  background-color: transparent;
  color: white;
  border: none;
  text-align: center;
}
.trailers_top button img {
  width: 20px;
  margin-left: 5px;
}
.main_trailer {
  margin-top: 40px;
  border: none;
  border-radius: 10px;
}
.trailer_info div {
  display: flex;
  flex-wrap: nowrap;
}
.necessary_trailers iframe {
  margin: 40px 0 4px 7px;
  border: none;
  border-radius: 10px;
}
.necessary_trailers {
  display: flex;
  font-size: 10px;
  color: white;
}
.titles {
  color: white;
  display: flex;
}
.films {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(1, 1fr); */
  column-gap: 30px;
  color: white;
}
.trailer_info {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.rate {
  height: 70px;
}
.share {
  height: 20px;
}
.left {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-size: 140%;
  color: white;
  align-items: center;
}
.tarantino {
  background-image: url(public/КвентинТарантино.png);
}
.jason {
  background-image: url(public/ДжейсонСтейтем.png);
}
.actor {
  background-repeat: no-repeat;
  width: 400px;
  height: 444px;
}
.persons {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}
.person {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  align-items: center;
}
.line {
  width: 380px;
  background-color: #1e2538;
  height: 2px;
  border-radius: 1px;
  margin: 0 auto;
}
.actors {
  padding: 20px;
  height: 444px;
  background-color: #191f30;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.person .name {
  font-weight: bold;
  color: white;
  padding: 3px;
}
.person .en {
  color: #3b486b;
  padding: 3px;
}
.person .age {
  color: #f2f60f;
  padding: 3px;
}
.person .place {
  color: #f2f60f;
  font-weight: bold;
  padding: 3px;
}
.itemBG {
  background-color: blue;
  opacity: 0.5;
  z-index: 10;
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: 10%;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.card {
  display: none;
  padding: 15px 25px;
  background-color: white;
  opacity: 1;
  position: absolute;
  top: 40%;
  left: 50%;
  translate: -50% -50%;
  color: skyblue;
  z-index: 10;
  border: NONE;
  border-radius: 10px;
}
.kass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 100px;
}
.kass_it {
  display: flex;
  align-items: center;
  gap: 10px;
}
.it_title {
  color: white;
  font-weight: bold;
}
.price {
  color: #f2f60f;
  font-size: 80%;
  margin: 6px 0;
}
.profit {
  color: gray;
  font-size: 80%;
  margin: 6px 0;
}
footer {
  margin-top: 100px;
  background-image: url(public/Фон.png);
  width: 100%;
  height: 547px;
  border-radius: 10px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.ft_title {
  font-weight: bold;
  font-size: 45px;
  color: white;
}
.inp {
  width: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inp input {
  border: none;
  width: 100%;
  font-size: 17px;
  outline: none;
}
.fff {
  display: flex;
  margin-top: 40px;
}
.btn {
  margin-left: 20px;
  background-color: yellow;
  color: black;
  padding: 15px 30px;
  border-radius: 15px;
  font-weight: bold;
  border: none;
}
.checkbox {
  margin-top: 40px;
  color: white;
  font-size: 110%;
}
.yel {
  color: yellow;
  text-decoration: underline;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin-top: 100px;
}
.bottom_menu {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  font-weight: bold;
}
/* .modalBG {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: block;
  position: absolute;
  background-color: black;
  opacity: 0.5;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.modal {
  display: none;
  opacity: 1;
  width: 50%;
  background-color: black;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.result {
  display: flex;
  font-size: 10px;
  color: white;
  flex-direction: column;
} */
